<div class="row">
  <div class="col-md-6">
    <form [formGroup]="model" (ngSubmit)="onSubmitForm()">

      <mat-form-field>
        <input matInput formControlName="name" placeholder="Nom du burger"/>

        <mat-error *ngIf="name.invalid && name.errors?.mustContain">
          Le nom doit contenir "{{ name.errors?.mustContain }}"
        </mat-error>

      </mat-form-field>

      <h3>Ingredients</h3>
      <div formArrayName="ingredients">
        <div *ngFor="let ing of ingredients.controls, let i=index" [formGroupName]="i">
          <mat-form-field>
            <mat-label>Ingredients</mat-label>
            <mat-select formControlName="ing">
              <mat-option *ngFor="let ingredient of ingredientList" value="{{ingredient}}">
                {{ingredient}}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </div>
        <mat-error *ngIf="ingredients.invalid && ingredients.errors?.required">
          Pas d'ingredient
        </mat-error>

        <mat-error *ngIf="ingredients.invalid && ingredients.errors?.minLength">
          Pas assez d'ingredient
        </mat-error>
        <button mat-raised-button type="button" color="primary" (click)="addIngredient()">Ajout</button>
      </div>

      <button mat-raised-button type="submit" [disabled]="model.invalid">Créer</button>

    </form>
  </div>

  <div class="col-md-6" *ngIf="burger !== undefined">
    <app-burger [burger]="burger"></app-burger>
  </div>

</div>



